<% provide(:title, "Sign Up") %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Sign up</h1>
    <%= form_for @user, url: signup_path do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.hidden_field :checkout, value: params[:checkout] %>
      <div class="form-group">
        <%= f.label :username, class: "required" %>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "required" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmation', class: "required" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :street, class: "required" %>
          <%= f.text_field :street, class: "form-control" %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.label :city, class: "required" %>
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :province, class: "required" %>
          <%= f.collection_select(:province_id, Province.all, :id, :name, {}, { class: "form-control" }) %>
        </div>
        <div class="form-group col-sm-6">
          <%= f.label :postal_code, class: "required" %>
          <%=	f.text_field :postal_code, class: "form-control" %>
        </div>
      </div>
      <%= f.submit "Create new account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
