<tr>
  <td colspan="2"><%= product.name %><small> - [<%= colour.name %>]</small></td>
  <td class="text-right"><%= order_item.quantity %></td>
  <td><%= number_to_currency order_item.price_per_item %></td>
  <td><%= number_to_currency order_item.total_price %></td>
</tr>