<div class="row">
  <div class="col-sm-4 offset-sm-8">
    <table class="table">
      <tr>
        <td><strong>Subtotal:</strong></td>
        <td class="text-right"><strong><%= number_to_currency order.subtotal %></strong></td>
      </tr>
      <% unless just_subtotal %>
        <% unless order.gst_amount.nil? %>
          <tr>
            <td>GST:</td>
            <td class="text-right"><%= number_to_currency order.gst_amount %></td>
          </tr>
        <% end %>
        <% unless order.pst_amount.nil? %>
          <tr>
            <td>PST:</td>
            <td class="text-right"><%= number_to_currency order.pst_amount %></td>
          </tr>
        <% end %>
        <% unless order.hst_amount.nil? %>
          <tr>
            <td>HST:</td>
            <td class="text-right"><%= number_to_currency order.hst_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Total:</strong></td>
          <td class="text-right"><strong><%= number_to_currency order.total %></strong></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>