<div class="row mb-3">
  <div class="col-md-7">
    <h3 class="display-4">Review your order</h3>
    <div class="col-sm-9 px-0">
      <%= render current_user, card_title: 'Your Info' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Unit Price</th>
          <th class="text-right">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td colspan="2"><%= order_item.product.name %><small> - [<%= order_item.colour.name %>]</small></td>
            <td class="text-center"><%= order_item.quantity %></td>
            <td class="text-right"><%= number_to_currency order_item.price_per_item %></td>
            <td class="text-right"><%= number_to_currency order_item.total_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'orders/totals', order: @order, just_subtotal: false %>
<%= link_to "Place Order", placeorder_path, method: 'patch', class: 'btn btn-success float-right' %>