<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>
<div class="row">
  <div class="card col-md-4">
    <% if @product.image.attached? %>
      <figure>
        <%= image_tag @product.image.variant(resize: '200x200') %>
      </figure>
    <% end %>
    <h5 class="text-primary"><%= number_to_currency @product.price %></h5>
    <!-- TODO show errors -->
    <%= form_tag order_items_path, method: 'post' do %>
      <%= hidden_field :order_item, :product_id, value: @product.id %>
      <p>Pick A Colour:</p>
      <% @product.colours.each do |colour| %>
        <div class="form-check" style="background-color: <%= colour.hexcode %>">
          <%= radio_button :order_item, :colour_id, colour.id  %>
          <%= label :order_item, :colour_id, colour.name %>
        </div>
      <% end %>
      <hr>
      <%= label :order_item, :quantity %>
      <%= number_field :order_item, :quantity, value: 1, class: 'form-control' %>
      <%= submit_tag 'Add To Cart', class: 'btn btn-primary mt-1' %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= tag.p @product.category.name, class: 'text-muted' %>
    <hr>
    <%= simple_format @product.description %>
  </div>
</div>
