<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>
<div class="row">
  <div class="card col-md-4">
    <% if @product.image.attached? %>
      <figure>
        <%= image_tag @product.image.variant(resize: '200x200'), alt: @product.name %>
      </figure>
    <% end %>
    <h5 class="text-primary"><%= number_to_currency @product.price %></h5>
    <%= form_for(:order_item, url: order_items_path, remote: true) do |f| %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <p>Pick A Colour:</p>
      <% @product.colours.each do |colour| %>
        <div class="form-check" style="background-color: <%= colour.hexcode %>">
          <%= f.radio_button :colour_id, colour.id  %>
          <%= f.label :colour_id, colour.name, value: colour.id %>
        </div>
      <% end %>
      <hr>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, value: 1, class: 'form-control' %>
      <%= f.submit 'Add To Cart', data: { disable_with: 'Adding...' }, class: 'btn btn-primary mt-1' %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= tag.p @product.category.name, class: 'text-muted' %>
    <hr>
    <%= simple_format @product.description %>
  </div>
</div>
