<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "P4P", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% unless logged_in? %>
        <li>
          <%= link_to login_path do %>
            Log in <i class="fas fa-sign-in-alt"></i>
          <% end %>
        </li>
        <li>
          <%= link_to signup_path do %>
            Sign up <i class="glyphicon glyphicon-bell"></i>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to logout_path, method: :delete do %>
            Log out <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
        <li>
          <%= link_to current_user do %>
            <%= current_user.username %> <i class="glyphicon glyphicon-user"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>